<!DOCTYPE html>
<html lang="en">
<head>
    <title>NetMon Web Client</title>
    <style>

        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        #map {
            margin: 0;
            height:100%;
            width: 100%;
        }
    </style>
</head>
<body>
<!--The div element for the map -->
<a href="logs">View Logs</a>
<div id="map">

</div>

<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var ugLegon = {lat: 5.6499, lng: -0.1833};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: ugLegon});
        // The marker, positioned at University of Ghana Legon
        var marker = new google.maps.Marker({position: ugLegon, map: map});
    }
</script>



<!--Loads Google Map Api and calls the callback function when done-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD-4avlYasXX50KVu7jxKml-oWnIfb08U&callback=initMap">
</script>
</body>
</html>